/*----------------------------------------------------------------------------*/
/*Сбрасываем стили*/
@import url(../vendor/normalize.css);
/*----------------------------------------------------------------------------*/
/*Импортируем шрифты*/
@import url(../vendor/fonts/fonts.css);
/*----------------------------------------------------------------------------*/
/*Импортируем настройки переиспользуемых элементов и глобальных блоков*/
@import url(../blocks/page/page.css);

header{
    background-color: red;
}

main{
    background-color: green;
}

footer{
    background-color: dodgerblue;
}

.footer{
    background-color: dodgerblue;
}